* {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

strong {
  letter-spacing: 0;
}

.page-title {
  font-size: 2rem;
  letter-spacing: -3px;
  margin: 1rem auto;
  text-align: center;
}

.type-button-container-header {
  font-size: 12px;
  margin: auto;
  text-align: center;
}

.type-button-container {
  /* background: grey; */
  display: inline-flex;
  justify-content: space-around;
  margin: 8px auto 1rem;
  text-align: center;
  width: 100%;
}

button {
  background: linear-gradient(to right, #fff, #fcfcfc);
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  padding: 8px 1rem;
}

button:hover {
  background: linear-gradient(to right, #fcfcfc, #f8f8f8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}

.media-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem auto;
  max-width: 960px;
}

.media-record {
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  /* display: inline-block; */
  margin: 1rem 0 0 0;
  min-height: 5rem;
  padding: 2rem 8px;
  text-align: center;
  /* vertical-align: middle; */
  width: calc(100% - 1rem);
}

.image-inner-container {
  display: inline-block;
  height: 450px;
}

.media-image {
  box-shadow: 0 4px 5px rgba(0, 0, 0, .05);
  border-radius: 4px;
  max-height: 450px;
  max-width: 450px;
  vertical-align: middle;
}

.media-image-text {
  width: 100%;
}